New_Mail_Package.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check to see if it&#39;s a new customer.</description>
        <name>Check_For_New_Customer</name>
        <label>Check For New Customer</label>
        <locationX>393</locationX>
        <locationY>97</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Checked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Checked_New_Account</targetReference>
            </connector>
            <label>Checked Yes</label>
        </rules>
        <rules>
            <name>Checked_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checked_New_Account</targetReference>
            </connector>
            <label>Checked No</label>
        </rules>
    </decisions>
    <interviewLabel>New Mail Package` {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Mail Package`</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>User selected &#39;yes&#39; on &#39;new customer&#39; checkbox.</description>
        <name>Checked_New_Account</name>
        <label>Checked New Account</label>
        <locationX>279</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Recipient_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>The location is not in the database.</description>
        <name>Recipient_Location_Not_Found</name>
        <label>Recipient Location Not Found</label>
        <locationX>297</locationX>
        <locationY>482</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Location_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Recipient_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>The user selected &#39;no&#39; on the &#39;new customer&#39; checkbox</description>
        <name>Not_Checked_New_Account</name>
        <label>Not Checked New Account</label>
        <locationX>581</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipient_Location</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We found the recipient location.</description>
        <name>Recipient_Location_Exists</name>
        <label>Recipient Location Exists</label>
        <locationX>594</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recipient_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Enter the location name</description>
        <name>Recipient_Location</name>
        <label>Recipient Location</label>
        <locationX>418</locationX>
        <locationY>340</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Welcome</description>
        <name>Welcome_Customer</name>
        <label>Welcome Customer!</label>
        <locationX>204</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_For_New_Customer</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_customer</name>
            <dataType>Boolean</dataType>
            <fieldText>New Customer?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
    </start>
    <status>InvalidDraft</status>
</Flow>
