New_Mail_Package.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Express</name>
        <choiceText>{!Shipping_Speed}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Express (2-4 Days)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Overnight</name>
        <choiceText>{!Shipping_Speed}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Overnight</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard</name>
        <choiceText>{!Shipping_Speed}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard (6+ days)</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check to see if it&#39;s a new customer.</description>
        <name>Check_For_New_Customer</name>
        <label>Check For New Customer</label>
        <locationX>64</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Checked_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checked_New_Account</targetReference>
            </connector>
            <label>Checked Yes</label>
        </rules>
        <rules>
            <name>Checked_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Checked_New_Account</targetReference>
            </connector>
            <label>Checked No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipient_Decision</name>
        <label>Recipient Decision</label>
        <locationX>651</locationX>
        <locationY>84</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_location_in_the_system</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipient_Location_Not_Found</targetReference>
            </connector>
            <label>Location Yes</label>
        </rules>
        <rules>
            <name>Location_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_location_in_the_system</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipient_Location_Exists</targetReference>
            </connector>
            <label>Location No</label>
        </rules>
    </decisions>
    <interviewLabel>New Mail Package` {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Mail Package`</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>User selected &#39;yes&#39; on &#39;new customer&#39; checkbox.</description>
        <name>Checked_New_Account</name>
        <label>Checked New Account</label>
        <locationX>338</locationX>
        <locationY>348</locationY>
        <assignRecordIdToReference>Create_New_Account.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Recipient_Location</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>customer_city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>custom_country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>customer_zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>customer_state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>customer_street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Mail_Package</name>
        <label>Create Mail Package</label>
        <locationX>660</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Create_New_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Status__c</field>
            <value>
                <stringValue>In Transit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Amount__c</field>
            <value>
                <elementReference>Insurance_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insured__c</field>
            <value>
                <elementReference>Insured</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient_Location__c</field>
            <value>
                <elementReference>Create_New_Recipient_Location.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </inputAssignments>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>The location is not in the database.</description>
        <name>Recipient_Location_Not_Found</name>
        <label>Recipient Location Not Found</label>
        <locationX>656</locationX>
        <locationY>292</locationY>
        <assignRecordIdToReference>Create_New_Recipient_Location.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Package_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Location_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Number_and_Name__c</field>
            <value>
                <elementReference>Street_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>ZipCode</elementReference>
            </value>
        </inputAssignments>
        <object>Recipient_Location__c</object>
    </recordCreates>
    <recordLookups>
        <description>The user selected &#39;no&#39; on the &#39;new customer&#39; checkbox</description>
        <name>Not_Checked_New_Account</name>
        <label>Not Checked New Account</label>
        <locationX>191</locationX>
        <locationY>161</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipient_Location</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>We found the recipient location.</description>
        <name>Recipient_Location_Exists</name>
        <label>Recipient Location Exists</label>
        <locationX>955</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Package_Details</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recipient_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Now we can fill out the details of the package.</description>
        <name>Package_Details</name>
        <label>Package Details</label>
        <locationX>844</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Mail_Package</targetReference>
        </connector>
        <fields>
            <name>Shipping_Speed</name>
            <choiceReferences>Overnight</choiceReferences>
            <choiceReferences>Express</choiceReferences>
            <choiceReferences>Standard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Shipping Speed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Fragile</name>
            <dataType>Boolean</dataType>
            <fieldText>Fragile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insured</name>
            <dataType>Boolean</dataType>
            <fieldText>Insured?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insurance_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Insurance Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Insured</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Enter the location name</description>
        <name>Recipient_Location</name>
        <label>Recipient Location</label>
        <locationX>447</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recipient_Decision</targetReference>
        </connector>
        <fields>
            <name>Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_this_location_in_the_system</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>New Location?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street_Address</name>
            <dataType>String</dataType>
            <fieldText>Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_location_in_the_system</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_location_in_the_system</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_location_in_the_system</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ZipCode</name>
            <dataType>Number</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_location_in_the_system</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Thank you!</description>
        <name>Thank_You</name>
        <label>Thank You!</label>
        <locationX>478</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Thank you for your business! We really appreciate it. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Welcome</description>
        <name>Welcome_Customer</name>
        <label>Welcome Customer!</label>
        <locationX>54</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_For_New_Customer</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>customer_city</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>customer_country</assignToReference>
                <name>inputCountryOptions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>custom_country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>customer_state</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>customer_street</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>New_customer</name>
            <dataType>Boolean</dataType>
            <fieldText>New Customer?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome_Customer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>create new account</description>
        <name>Create_New_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>new recipient</description>
        <name>Create_New_Recipient_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recipient_Location__c</objectType>
    </variables>
    <variables>
        <name>custom_country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customer_city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customer_country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customer_state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customer_street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customer_zip</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
